p{ /* učení jak budou vypadat všechny P, pokud nemaj třídu nebo inline */
    background-color: aqua; 
    font-family: Arial, Helvetica, sans-serif;
    font-style:  italic;
    font-weight: bold;
    font-size: large;
    text-decoration: /*wavy*/ /*dotted*/ dashed gray underline;
   /* border: /*solid*/ /*dotted*//*dashed*/;
   border-bottom: solid;
   border-top: dotted;
   border-right: dashed;
    border-width: 2px;
    border-color:black ;
    border-radius:10px;
    /*border-top-left-radius: 20%;*/
   /* border-end-end-radius:25% ;*/
}
 h1{ /* určení nadpisu H1 pokud není inline nebo třída */ 
     background-color: azure;
 }
body{ /* určení celého body, pokud mají inline nebo třídu tak pouze ony maj jiný vzhled */
background-color: antiquewhite;
}

    .trida{ /* proudělání píšem tečku, určení třídy */
        color: red;
        background-color:white;
    }
#identifikator{ /* pro udělání píšem #, určení identifikátoru */
    background-color: green;
}
.trida2{
    font-family:'DOTO';

}