.big{
    background: linear-gradient(lightpink, tomato);
    width: 1500px;
    height: 500px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    column-gap: 100px;
    align-items: center;
}

.small{
    height: 250px;
    width: 250px;
    border-radius: 30px;
    padding: 30px;
    font-size: 21px;
}

#box1{
    background: linear-gradient(skyblue, lightgreen);
}

#box2{
    background: linear-gradient(to left, skyblue, lightgreen) ;
}