.box1{
    border-style: solid;
    border-color: black;
    width: 200px;
    height: 150px;
    background-color: aqua;
    padding: 15px;
    /*margin-left: /*auto/*nejvic co jde*//*auto;*/
    /*margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;*/
    margin: 50px 20px 30px 60px;
}
body{
    
background-color: none;
    
}